<div class="spinner-container text-center">
  <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></span>
</div>

<div *ngIf="loadingComplete" class="chart-container">
  <base-chart class="chart"
              [datasets]="usageLineChartData"
              [labels]="usageLineChartLabels"
              [options]="usageLineChartOptions"
              [colors]="usageLineChartColours"
              [legend]="usageLineChartLegend"
              [chartType]="usageLineChartType"></base-chart>
  <base-chart class="chart"
              [datasets]="penaltyLineChartData"
              [labels]="penaltyLineChartLabels"
              [options]="penaltyLineChartOptions"
              [colors]="penaltyLineChartColours"
              [legend]="penaltyLineChartLegend"
              [chartType]="penaltyLineChartType"></base-chart>
</div>

