<p>Statistics</p>
<ul class="nav nav-tabs">
  <li role="presentation" (click)="setActivePage('recent')" class="statistics-tab" [class.active]="activePage === 'recent'">
    Recent
  </li>
  <li role="presentation" (click)="setActivePage('weekly')" class="statistics-tab" [class.active]="activePage === 'weekly'">
    Weekly
  </li>
</ul>
<sb-charts-statistics [type]="'recent'" *ngIf="activePage === 'recent'"></sb-charts-statistics>
<sb-charts-statistics [type]="'weekly'" *ngIf="activePage === 'weekly'"></sb-charts-statistics>
