:host{
  display: inline-block;
  width: 100%;
}

.statistics-tab {
  width: 50%;
  cursor: pointer;
  line-height: 1.42857143;
  display: block;
  padding: 10px 15px;
  color: #FFF;
  background-color: #25288C;
}

.statistics-tab:hover {
  background-color: #232569;
}

.statistics-tab.active {
  background-color: #3e444c;
}
