<div class="jumbotron">
  <h4>Chat Trends</h4>

  <ul class="nav nav-tabs">
    <li role="presentation" (click)="setActivePage('messages')" class="trending-tab" [class.active]="activePage === 'messages'">
      Messages
    </li>
    <li role="presentation" (click)="setActivePage('emotes')" class="trending-tab" [class.active]="activePage === 'emotes'">
      Emoticons
    </li>
  </ul>

  <sb-trending-messages *ngIf="activePage === 'messages'"></sb-trending-messages>
  <sb-trending-emotes *ngIf="activePage === 'emotes'"></sb-trending-emotes>

</div>
