<div class="spinner-container text-center">
  <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></span>
</div>

<div *ngFor="let emote of trendingEmotes; let i = index" class="trending-item">
  <p>{{i+1}}. <span class="item">{{emote.item}}</span></p>
</div>

<div *ngIf="trendingEmotes?.length === 0" class="trending-item">
  <p>There are no trending emotes so far...</p>
</div>
