<div class="spinner-container  text-center">
  <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></span>
</div>

<div *ngFor="let message of trendingMessages; let i = index" class="trending-item">
  <p>{{i+1}}. <span class="item">{{message.item}}</span></p>
</div>

<div *ngIf="trendingMessages?.length === 0" class="trending-item">
  <p>There are no trending messages so far...</p>
</div>

