.trending-item {
  background-color: #3e444c;
  font-size: medium;
  padding-left: 10px;
}

.trending-item p {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.spinner-container .spinner {
  margin-top: 15px;
}
