<sb-toolbar></sb-toolbar>
<div class="row">
  <div class="col-md-3 .col-xs-12">
    <sb-navbar></sb-navbar>
  </div>
  <div class="col-md-9 .col-xs-12">
    <main-router-outlet></main-router-outlet>
  </div>
</div>

