a {
  background-image: none !important;
  background-color: #1D1F52;
}

a:hover {
  background-image: none;
  background-color: #232569 !important;
}

li.active > a {
  background-color: #25288C;
}

.nav-icon {
  font-size: 18px;
  margin-right: 15px;
}
