<nav>
  <ul class="nav nav-pills nav-stacked">
    <li [class.active]="isRouteActive('Dashboard')">
      <a [routerLink]="['Dashboard']">
        <span class="nav-icon glyphicon glyphicon-dashboard" aria-hidden="true"></span>
        DASHBOARD
      </a>
    </li>
    <li [class.active]="isRouteActive('Announcements')">
      <a [routerLink]="['Announcements']">
        <span class="nav-icon glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        ANNOUNCEMENTS
      </a>
    </li>
    <li [class.active]="isRouteActive('Commands')">
      <a [routerLink]="['Commands']">
        <span class="nav-icon glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        COMMANDS
      </a>
    </li>
    <li [class.active]="isRouteActive('Filters')">
      <a [routerLink]="['Filters']">
        <span class="nav-icon glyphicon glyphicon-filter" aria-hidden="true"></span>
        FILTERS
      </a>
    </li>
    <li [class.active]="isRouteActive('Regulars')">
      <a [routerLink]="['Regulars']">
        <span class="nav-icon glyphicon glyphicon-user" aria-hidden="true"></span>
        REGULARS
      </a>
    </li>
    <li [class.active]="isRouteActive('Trending')">
      <a [routerLink]="['Trending']">
        <span class="nav-icon glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        CHAT TRENDS
      </a>
    </li>
  </ul>
</nav>
