:host {
  margin: 0 auto 0 auto;
  text-align: center;
}

.login-container {
  height: 180px;
  padding-top: 40px;
}

.logging-in {
  color: #6441a5;
}

.twitch-login-btn {
  background: #8260ae;
  background-image: -webkit-linear-gradient(top, #8260ae, #5a3787);
  background-image: -moz-linear-gradient(top, #8260ae, #5a3787);
  background-image: -ms-linear-gradient(top, #8260ae, #5a3787);
  background-image: -o-linear-gradient(top, #8260ae, #5a3787);
  background-image: linear-gradient(to bottom, #8260ae, #5a3787);
  text-shadow: 1px 1px 2px #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 20px 40px 20px 40px;
  border: solid #462d76 1px;
  text-decoration: none;
  font-weight: bold;
}

.twitch-login-btn::before {
  background-image: url("../../assets/images/twitchlogo-small.png");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  position: relative;
  top: 10px;
  left: -8px;
}

.feature-group {
  margin-bottom: 40px;
}

.feature-icon {
  font-size: 60px;
}
