<div class="landing-div">
  <h1>ShikashiBot</h1>
  <p class="lead">ShikashiBot moderates your Twitch chat so you can focus on the important messages.</p>

  <p *ngIf="!isLoggingIn" class="login-container">
    <a class="twitch-login-btn" href="{{twitchOAuthUrl}}">Connect with Twitch</a>
  </p>
  <div *ngIf="isLoggingIn" class="login-container logging-in">
    <span class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></span>
    <p class="lead">Logging in</p>
  </div>

  <div class="row">
    <div class="feature-group col-sm-4 col-md-2 col-md-offset-1">
      <span class="feature-icon glyphicon glyphicon-dashboard" aria-hidden="true"></span>
      <br>
      <span class="lead">The <strong>dashboard</strong> is a cool feature.</span>
    </div>
    <div class="feature-group col-sm-4 col-md-2">
      <span class="feature-icon glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
      <br>
      <span class="lead">Spread information with <strong>announcements</strong>.</span>
    </div>
    <div class="feature-group col-sm-4 col-md-2">
      <span class="feature-icon glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <br>
      <span class="lead"><strong>Commands</strong> are customizable to fit your needs.</span>
    </div>
    <div class="feature-group col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0">
      <span class="feature-icon glyphicon glyphicon-filter" aria-hidden="true"></span>
      <br>
      <span class="lead">Protect your chat from spam with various <strong>filters</strong>.</span>
    </div>
    <div class="feature-group col-sm-4 col-md-2">
      <span class="feature-icon glyphicon glyphicon-user" aria-hidden="true"></span>
      <br>
      <span class="lead">Allow <strong>regulars</strong> to bypass the filters.</span>
    </div>
  </div>
</div>
