<div class="text-center">
  <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner text-center" aria-hidden="true"></span>
</div>

<ul class="list-group">
  <li *ngFor="let item of items" class="list-group-item">
    {{item}}
    <span class="delete-icon glyphicon glyphicon-remove" aria-hidden="true" (click)="deleteItem(item)"></span>
  </li>
  <li class="list-group-item">

    <div *ngIf="type === 'Word'">
      <form #f="ngForm">
        <input type="text" required  pattern="^[^ ]*$" class="new-item-input" ngControl="item" #item="ngForm" [(ngModel)]="currentFormValue"><button class="btn btn-success" (click)="addItem(item)">Add</button>
      </form>
      <span class="text-danger" *ngIf="item.errors?.required && submitted">Please enter a word you want to add to the blacklist</span>
      <span class="text-danger" *ngIf="item.errors?.pattern && submitted">There are no spaces allowed</span>
    </div>

    <div *ngIf="type === 'Regulars'">
      <form #f="ngForm">
        <input type="text" required  pattern="^[^ ]*$" class="new-item-input" ngControl="item" #item="ngForm" [(ngModel)]="currentFormValue"><button class="btn btn-success" (click)="addItem(item)">Add</button>
      </form>
      <span class="text-danger" *ngIf="item.errors?.required && submitted">Please enter the name of a user you want to add to the regulars list</span>
      <span class="text-danger" *ngIf="item.errors?.pattern && submitted">Enter a valid username</span>
    </div>

    <div *ngIf="type === 'Domain'">
      <form #f="ngForm">
        <input type="text" required pattern="^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\.[a-zA-Z]{2,}$" class="new-item-input" ngControl="item" #item="ngForm" [(ngModel)]="currentFormValue"><button class="btn btn-success" (click)="addItem(item)">Add</button>
      </form>
      <span class="text-danger" *ngIf="item.errors && submitted">Please enter a string that matches ^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\.[a-zA-Z]{2,}$</span>
    </div>

  </li>
</ul>
