.delete-icon {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.new-item-input {
  width: 80%;
}

.btn-success {
  float: right;
  padding: 2px 10px;
  height: 30px;
  margin-top: -2px;
  border: none;
}
