textarea {
  resize: none;
}

.btn-danger {
  float: right;
  background-image: none;
  background-color: #CA0E0A;
  border: none;
}

.command-description {
  display: inline-block;
  margin-bottom: 15px;
}
