<div class="panel-heading" role="tab" id="{{index}}-default-heading">
  <a [class.collapsed]="true" [attr.aria-expanded]="false" role="button" data-toggle="collapse" data-parent="#default-commands-accordion" href="#{{index}}-default-details" [attr.aria-controls]="index + '-default-details'">
    <span class="panel-title">
      ! {{command.prefix}}
    </span>
  </a>
  <div class="onoffswitch pull-right">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{index}}-default-switch" [checked]="command.enabled" #checkbox (change)="setIsActive(checkbox)">
    <label class="onoffswitch-label" [attr.for]="index + '-default-switch'">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
<div id="{{index}}-default-details" [class.in]="false" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="index + '-default-heading'">
  <div class="panel-body">
    <sb-default-command-form [command]="command" [index]="index" (commandsChanged)="onCommandsChanged()"></sb-default-command-form>
  </div>
</div>
