<h4>Default commands</h4>

<div class="text-center">
  <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner text-center" aria-hidden="true"></span>
</div>

<div class="panel-group" id="default-commands-accordion">
  <sb-default-command-panel *ngFor="let command of defaultCommands; let i = index" [command]="command" [index]="i" (commandsChanged)="loadCommands()" class="panel panel-default"></sb-default-command-panel>
</div>
