<form [ngFormModel]="form">

  <span class="command-description">{{command.description}}</span>

  <div class="form-group">
    <label [attr.for]="index + '-default-id'">Command ID</label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This is the command ID. Post this ID to the chat to execute the command."></span>
    <div class="input-group">
      <div class="input-group-addon">!</div>
      <input [ngFormControl]="form.controls['prefix']" type="text" id="{{index}}-default-id" class="form-control" #prefix="ngForm">
    </div>
    <span class="text-danger" *ngIf="prefix.errors?.required && submitted">This field must not be empty.</span>
    <span class="text-danger" *ngIf="prefix.errors?.pattern && submitted">Only alphanumeric characters are allowed.</span>
  </div>
  <div class="form-group">
    <label [attr.for]="index + '-default-min-rank'">Minimum rank</label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This option determines who has the right to execute the command in the chat."></span>
    <select [ngFormControl]="form.controls['minRank']" class="form-control" id="{{index}}-default-min-rank">
      <option [value]="6">Developer</option>
      <option [value]="5">Staff</option>
      <option [value]="4">Admin</option>
      <option [value]="3">Broadcaster</option>
      <option [value]="2">Global mod</option>
      <option [value]="1">Moderator</option>
      <option [value]="0">Viewer</option>
    </select>
  </div>
  <button (click)="changeCommand()" class="btn btn-success">Save changes</button>
</form>
