<div class="panel-heading" role="tab" id="{{index}}-custom-heading">
  <a [class.collapsed]="true" [attr.aria-expanded]="false" role="button" data-toggle="collapse" data-parent="#custom-command-accordion" href="#{{index}}-custom-details" [attr.aria-controls]="index + '-custom-details'">
    <span class="panel-title" [class.text-center]="index == 'new-command'" [class.lead]="index == 'new-command'">
      {{index == 'new-command' ? 'Add new commnad' : '! ' + command.commandId}}
    </span>
  </a>
  <div *ngIf="index != 'new-command'" class="onoffswitch pull-right">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{index}}-custom-switch" [checked]="command.isActive" #checkbox (change)="setIsActive(checkbox)">
    <label class="onoffswitch-label" [attr.for]="index + '-custom-switch'">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
<div id="{{index}}-custom-details" [class.in]="false" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="index + '-custom-heading'">
  <div class="panel-body">
    <sb-custom-command-form [command]="command" [index]="index" (commandsChanged)="onCommandsChanged()"></sb-custom-command-form>
  </div>
</div>
