<h4>Custom commands</h4>

<div class="text-center">
  <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner" aria-hidden="true"></span>
</div>

<div class="panel-group" id="custom-command-accordion">
  <sb-custom-command-panel *ngFor="let command of customCommands; let i = index" [command]="command" [index]="i" (commandsChanged)="loadCommands()" class="panel panel-default"></sb-custom-command-panel>
  <sb-custom-command-panel [command]="null" [index]="'new-command'" (commandsChanged)="loadCommands()" class="panel panel-default"></sb-custom-command-panel>
</div>
