<form [ngFormModel]="form">
  <div class="form-group">
    <label [attr.for]="index + '-custom-id'">Command ID</label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This is the command ID. Post this ID to the chat to execute the command."></span>
    <div class="input-group">
      <div class="input-group-addon">!</div>
      <input [ngFormControl]="form.controls['commandId']" type="text" id="{{index}}-custom-id" class="form-control" #id="ngForm">
    </div>
    <span class="text-danger" *ngIf="id.errors?.required && submitted">This field must not be empty.</span>
    <span class="text-danger" *ngIf="id.errors?.pattern && submitted">Only alphanumeric characters are allowed.</span>
  </div>
  <div class="form-group">
    <label [attr.for]="index + '-custom-output'">Output message</label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This is the message the bot responds with if the command is fired."></span>
    <textarea [ngFormControl]="form.controls['output']" id="{{index}}-custom-output" rows="3" class="form-control" #output="ngForm"></textarea>
    <span class="text-danger" *ngIf="output.errors?.required && submitted">This field must not be empty.</span>
  </div>
  <div class="form-group">
    <label [attr.for]="index + '-custom-min-rank'">Minimum rank</label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This option determines who has the right to execute the command in the chat."></span>
    <select [ngFormControl]="form.controls['minRank']" class="form-control" id="{{index}}-custom-min-rank">
      <option [value]="6">Developer</option>
      <option [value]="5">Staff</option>
      <option [value]="4">Admin</option>
      <option [value]="3">Broadcaster</option>
      <option [value]="2">Global mod</option>
      <option [value]="1">Moderator</option>
      <option [value]="0">Viewer</option>
    </select>
  </div>
  <button *ngIf="index === 'new-command'" (click)="addCommand()" class="btn btn-success">Add command</button>
  <div *ngIf="index !== 'new-command'">
   <button (click)="changeCommand()" class="btn btn-success">Save changes</button>
   <button (click)="deleteCommand()" class="btn btn-danger">Delete command</button>
  </div>
 </form>
