<div class="jumbotron">

  <div class="row">
    <div class="col-md-12">
      <sb-statistics></sb-statistics>
    </div>
    <div class="col-md-12">
      <br>
      <p>Chat</p>
      <div id="chat-container"></div>
    </div>
  </div>

</div>
