.onoffswitch {
  display: inline-block;
  margin-top: 4px;
}

.onoffswitch-switch {
  margin-top: -3px;
  background-color: #c8c8c8;
}

.onoffswitch-inner::before {
  background-color: #0FA00F;
}

.onoffswitch-inner::after {
  background-color: #CA0E0A;
}

.status-label {
  display: inline-block;
  margin-top: 8px;
  margin-left: 20px;
}
