<div class="onoffswitch pull-left">
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="botstatus-switch" [checked]="isVisiting" #checkbox (change)="setStatus(checkbox)">
  <label class="onoffswitch-label" [attr.for]="'botstatus-switch'">
    <span class="onoffswitch-inner"></span>
    <span class="onoffswitch-switch"></span>
  </label>
</div>
<span class="status-label pull-left">ShikashiBot is {{isVisiting ? 'active' : 'inactive'}}. </span>
<br>
