<div class="row">
  <div class="col-sm-3 col-xs-9">
    <h1>ShikashiBot</h1>
  </div>

  <div class="col-sm-1 col-sm-offset-1 col-sm-push-7 col-xs-2 col-xs-offset-1">
    <button class="btn btn-default pull-right" (click)="logOut()">Log out</button>
  </div>

  <div class="col-sm-5 col-sm-offset-2 col-sm-pull-2 col-xs-12">
    <sb-botstatus></sb-botstatus>
  </div>

</div>
