:host {
  display: block;
  padding-bottom: 10px;
}

h1 {
  display: inline;
}

.btn-default {
  background-image: none;
  background-color: #3e444c;
  border: none;
}

.btn-default:hover {
  background-image: none;
  background-color: #CA0E0A;
  border: none;
}
