<div class="panel-heading" role="tab" id="{{filter.identifier}}-heading">
  <a [class.collapsed]="true" [attr.aria-expanded]="false" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{filter.identifier}}-details" [attr.aria-controls]="filter.identifier + '-details'">
    <span class="panel-title">
      {{filter.identifier}}
    </span>
  </a>
  <div class="onoffswitch pull-right">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{filter.identifier}}-switch" [checked]="filter.enabled" #checkbox (change)="setIsActive(checkbox)">
    <label class="onoffswitch-label" [attr.for]="filter.identifier + '-switch'">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>

<div id="{{filter.identifier}}-details" [class.in]="false" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="filter.identifier + '-heading'">
  <div class="panel-body" id="form-panel">
    <sb-filter-form [filter]="filter" (filtersChanged)="onFiltersChanged()"></sb-filter-form>
  </div>
</div>
