<div class="jumbotron">
  <h4>Filters</h4>
  <div class="text-center">
    <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner text-center" aria-hidden="true"></span>
  </div>
  <div class="panel-group" id="accordion">
    <sb-filter-panel *ngFor="let filter of filters" [filter]="filter" (filtersChanged)="loadFilter()" class="panel panel-default"></sb-filter-panel>
  </div>
</div>
