<form [ngFormModel]="form">

  <span class="filter-description">{{filter.description}}</span>

  <div class="form-group">
    <label [attr.for]="filter.identifier+'-'+filterType">{{templateData.filterTypeLabel}}</label>
    <span class="glyphicon glyphicon-question-sign {{filter.identifier}}-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{templateData.filterTypeTooltip}}"></span>

    <!-- filterType === 'limit' -->
    <div *ngIf="filterType === 'limit'" class="input-group">
      <input id="{{filter.identifier}}-{{filterType}}" class="form-control" [ngFormControl]="form.controls['limit']" type="number" #limit="ngForm">
      <span class="text-danger" *ngIf="limit.errors?.NaN && submitted">This field must not be empty</span>
      <span class="text-danger" *ngIf="limit.errors?.negative && submitted">This value must be positive</span>
    </div>

    <!-- filterType === 'list' -->
    <sb-form-list *ngIf="filterType === 'list'" [type]="filter.identifier" id="{{filter.identifier}}-{{filterType}}"></sb-form-list>

  </div>

  <div class="form-group">
    <label [attr.for]="filter.identifier+'-removeType'">Remove Type</label>
    <span class="glyphicon glyphicon-question-sign {{filter.identifier}}-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Specifies the penalty for users who break the rule."></span>
    <select [ngFormControl]="form.controls['removeType']" class="form-control" id="{{filter.identifier}}-removeType">
      <option [value]="0">Ignore</option>
      <option [value]="1">Timeout</option>
      <option [value]="2">Ban</option>
    </select>
  </div>

  <div class="form-group" *ngIf="form.controls['removeType'].value === '1'">
    <label [attr.for]="filter.identifier+'-timeoutSeconds'">Timeout-time</label>
    <span class="glyphicon glyphicon-question-sign {{filter.identifier}}-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="The duration of the timeout for users who break the rules (in seconds)."></span>
    <div class="input-group">
      <input id="{{filter.identifier}}-timeoutSeconds" class="form-control" [ngFormControl]="form.controls['timeoutSeconds']" type="number" #timeoutSeconds="ngForm">
      <span class="text-danger" *ngIf="form.errors?.timeoutSecondsIsNaN && submitted">This field must not be empty</span>
      <span class="text-danger" *ngIf="form.errors?.timeoutSecondsIsNegative && submitted">This value must be positive</span>
    </div>
  </div>

  <div class="form-group">
    <label [attr.for]="filter.identifier+'-outputMessage'">Output message</label>
    <span class="glyphicon glyphicon-question-sign {{filter.identifier}}-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="The message the bot responds with if somebody breaks the rule."></span>
    <textarea id="{{filter.identifier}}-outputMessage" class="form-control" [ngFormControl]="form.controls['outputMessage']" rows="3" #outputMessage="ngForm"></textarea>
    <span class="text-danger" *ngIf="outputMessage.errors?.required && submitted">This field must not be empty.</span>
  </div>

  <button (click)="changeFilter()" class="btn btn-success">Change filter</button>

</form>
