<div *ngIf="alertMessage !== null" class="alert {{alertMessage.type}} text-center" role="alert" [innerHTML]="alertMessage.message">
  <span class="delete-icon glyphicon glyphicon-remove" aria-hidden="true" (click)="hideAlert()"></span>
</div>
