<form [ngFormModel]="form">

  <div class="input-group">
    <label [attr.for]="index+'-announcement-interval'">Interval (seconds) </label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="The time interval in which the message should be posted to the chat."></span>
    <input id="{{index}}-announcement-interval" class="form-control" [ngFormControl]="form.controls['secondsInterval']" type="number" #interval="ngForm">
    <br>
    <span class="text-danger" *ngIf="interval.errors?.NaN && submitted">The field must not be empty.</span>
    <span class="text-danger" *ngIf="interval.errors?.lessThanThirty && submitted">The minimum interval is 30 seconds.</span>
  </div>

  <div class="form-group">
    <label [attr.for]="index + '-announcement-message'">Message </label>
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="The message which gets posted to the chat repetitiv."></span>
    <textarea [ngFormControl]="form.controls['message']" id="{{index}}-announcement-message" rows="3" class="form-control" #message="ngForm"></textarea>
    <span class="text-danger" *ngIf="message.errors?.required && submitted">This field must not be empty.</span>
  </div>

  <button *ngIf="index === 'new-announcement'" (click)="addAnnouncement()" class="btn btn-success">Add announcement</button>
  <div *ngIf="index !== 'new-announcement'">
    <button (click)="changeAnnouncement()" class="btn btn-success">Save changes</button>
    <button (click)="deleteAnnouncement()" class="btn btn-danger">Delete announcement</button>
  </div>
</form>
