<div class="jumbotron">
  <h4>Announcements</h4>

  <div class="text-center">
    <span *ngIf="!loadingComplete" class="glyphicon glyphicon-refresh spinner text-center" aria-hidden="true"></span>
  </div>

  <div class="panel-group" id="accordion">
    <sb-announcement-panel *ngFor="let announcement of announcements; let i = index" [announcement]="announcement" [index]="i" (announcementsChanged)="loadAnnouncements()" class="panel panel-default"></sb-announcement-panel>
    <sb-announcement-panel [announcement]="null" [index]="'new-announcement'" (announcementsChanged)="loadAnnouncements()" class="panel panel-default"></sb-announcement-panel>
  </div>
</div>
