:host {
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.panel-heading {
  overflow: hidden;
}

.onoffswitch {
  margin-top: -24px;
}

.onoffswitch-switch {
  margin-top: -3px;
}

.panel-title {
  display: block;
}
