<div class="panel-heading" role="tab" id="{{index}}-announcement-heading">
  <a [class.collapsed]="true" [attr.aria-expanded]="false" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{index}}-announcement-details" [attr.aria-controls]="index + '-announcement-details'">
    <span class="panel-title" [class.text-center]="index == 'new-announcement'" [class.lead]="index == 'new-command'">
      <!-- TODO: Use elipse pipe instead of substring-->
      {{index == 'new-announcement' ? 'Add new announcement' : announcement.message.substring(0, 19) + '...'}}
    </span>
  </a>
  <div *ngIf="announcement" class="onoffswitch pull-right">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{index}}-announcement-switch" [checked]="announcement.isActive" #checkbox (change)="setIsActive(checkbox)">
    <label class="onoffswitch-label" [attr.for]="index + '-announcement-switch'">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
<div id="{{index}}-announcement-details" [class.in]="false" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="index + '-announcement-heading'">
  <div class="panel-body">
    <sb-announcement-form [announcement]="announcement" [index]="index" (announcementsChanged)="onAnnouncementsChanged()"></sb-announcement-form>
  </div>
</div>
