* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html {
  background: url("../assets/images/stressed_linen.png") repeat;
}

body {
  background-color: transparent;
  padding-top: 20px;
}

.loader-container {
  margin: auto;
  text-align: center;
}

.spinner {
  font-size: 40px;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0%  {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
  0%  {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

h4 {
  color: #FFF;
}

.btn-danger {
  background-image: none;
  background-color: #CA0E0A;
  border: none;
}

.btn-success {
  background-image: none;
  background-color: #25288C;
  border: none;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus{
  background-image: none;
  background-color: #232569;
  border: none;
}

.text-danger, .text-danger:hover {
  color: #D01E1E;
}

.alert-danger {
  background-color: #E21E18;
  border-color: #E21E18;
}

.alert-success {
  background-color: #1EC51B;
  border-color: #1EC51B;
}
