.onoffswitch {
  position: relative; width: 73px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 20px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.onoffswitch-inner:before {
  content: "On";
  padding-left: 10px;
  background-color: #0FA00F; color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.onoffswitch-inner:after {
  content: "Off";
  padding-right: 10px;
  background-color: #2E3338; color: #D6D6D6;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.onoffswitch-switch {
  display: block; width: 23px; margin: 0px;
  background: #c8c8c8;
  position: absolute; top: 0; bottom: 0;
  right: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}