<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= shikashiConfig.APP_TITLE %></title>
  <link rel="icon" type="image/ico" href="/assets/images/favicon.ico">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<sb-app>
  <div class="loader-container">
    <img src="assets/images/triangle.svg"/><br/>
    <h3>Hold on, crunching Doritos...</h3>
  </div>
</sb-app>

<script>
  // function.name (all IE)
  // Remove once https://github.com/angular/angular/issues/6501 is fixed.
  /*! @source http://stackoverflow.com/questions/6903762/function-name-not-supported-in-ie*/
  if (!Object.hasOwnProperty('name')) {
    Object.defineProperty(Function.prototype, 'name', {
      get: function() {
        var matches = this.toString().match(/^\s*function\s*((?![0-9])[a-zA-Z0-9_$]*)\s*\(/);
        var name = matches && matches.length > 1 ? matches[1] : "";
        // For better performance only parse once, and then cache the
        // result through a new accessor for repeated access.
        Object.defineProperty(this, 'name', {value: name});
        return name;
      }
    });
  }
</script>

<script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
</script>

<!-- shims:js -->
<!-- endinject -->

<% if (ENV === 'dev') { %>
<script>
  System.config(<%=
    JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
</script>
<% } %>

<!-- libs:js -->
<!-- endinject -->

<script src="//cdn.tmijs.org/js/latest/tmi.js"></script>
<!-- inject:js -->
<!-- endinject -->

<% if (ENV === 'dev') { %>
<script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
</script>
<% } %>

</body>
</html>
